<ul>
    <li>@Html.ActionLink("Startsida","Index", "Start")</li>
    <li><a href="#">Products</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
</ul>